/**{
	margin: 0;
	padding: 0;
}*/
#password-text,
#username-text {
	display: inline;
	width: 15%;
	float: left;
}
#msg{
	color: red;
}
.col-2{
  float: left;
  width: 8.33333333%;
}
.col-4{
  float: left;
  width: 33.333%;
}
.input {
	display: inline;
	width: 85%;
	float: left;
}
.col-sign-username{
	float: left;
	width: 40%;
}
.row:before {
  display: table;
  content: "";
}

.row:after {
  display: table;
  content: "";
  clear: both;
} 
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
